<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link th:href="@{/profile.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
<header>

    <div class="container">
        <p class="lead">  < / code fellows > </p>
        <div class="header-bar">
            <h1 class="logo"> < / > </h1>
            <ul class="slider-menu">
                <li>
                    <form action="/" method="GET">
                        <button type="submit">Home</button>
                    </form>
                </li>
                <li>
                    <form action="/logout-process" method="GET">
                        <button type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>

    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="container">
            <img src="https://www.seekpng.com/png/detail/115-1150053_avatar-png-transparent-png-royalty-free-default-user.png" alt="default profile picture" style="width:45%;" class="w3-round"><br><br>

            <h4 th:text="${user.getFirstName()}"></h4>
            <h4 th:text="${user.getDateOfBirth()}"></h4>
            <h5 th:text="${user.getBio()}"></h5>
        </div>

    </nav>
    <div>
            <form  th:action="@{'/myprofile/'+${user.id}+'/addpost'}" method="POST" >
                <div class="card" >
                    <input type="text" name="postBody" class="textarea" placeholder="what's in your mind?" />
                    <button type="submit" class="post-button">Post</button>
                </div>
            </form>
    </div>

    <ul th:each="post: ${newPosts}">
    <div >
        <div>
            <h3  th:text="${post.createdAt}"></h3>
            <h1  th:text="${post.body}"></h1>
        </div>
    </div>

    </ul>



</main>
<footer>
    <div class="w3-display-bottomright w3-container">
        <p>Made by <a href="https://github.com/BaraahAbusara" target="_blank">Baraáh Abusara</a></p>
    </div>
</footer>
</body>
</html>