<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<header>
    <img src="https://www.seekpng.com/png/detail/115-1150053_avatar-png-transparent-png-royalty-free-default-user.png" alt="default profile picture">
    <h2>Welcome to your profile</h2>
</header>
<main>
    <form action="/logout-process" method="GET">
        <button type="submit">Sign out</button>
    </form>

    <form action="/" method="GET">
        <button type="submit">Home</button>
    </form>
</main>
<footer>

</footer>
</body>
</html>