<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<h1>Sign in Page</h1>
<form action="/signin-process" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Sign in</button>
</form>
<form action="/signup" method="GET">
    <h1>Don't have an account? Signup! </h1>
    <button type="submit">Signup</button>
</form>

</body>
</html>