<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/profile.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<header>

    <div class="container">
        <p class="lead">  < / code fellows > </p>
        <div class="header-bar">
            <h1 class="logo"> < / > </h1>
            <ul class="slider-menu">
                <li>
                    <form action="/" method="GET">
                        <button type="submit">Home</button>
                    </form>
                </li>
                <li>
                    <form action="/logout-process" method="GET">
                        <button type="submit">Sign out</button>
                    </form>
                </li>
                <li>
                    <form action="/myprofile" method="GET">
                        <button type="submit">My profile</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <form  th:action="@{/users/{id}(id=${thisUser.id})}" method="GET" >
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="container">
            <img src="https://www.seekpng.com/png/detail/115-1150053_avatar-png-transparent-png-royalty-free-default-user.png" alt="default profile picture" style="width:45%;" class="w3-round"><br><br>

            <h4 th:text="${thisUser.getFirstName()}"></h4>
            <h4 th:text="${thisUser.getDateOfBirth()}"></h4>
            <h5 th:text="${thisUser.getBio()}"></h5>
        </div>
    </nav>
    </form>

<!--    <ul th:each="post: ${posts}">-->
<!--        <div class="post-container">-->
<!--            <div class="post-content">-->
<!--                <h3 class="post-h3" th:text="${post.createAt}"></h3>-->
<!--                <h1 class="post-h1" th:text="${post.body}"></h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </ul>-->




</main>
<footer>

</footer>
</body>
</html>